#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #000;
    border-radius: 50%;
    border-top: 16px solid rgba(91, 91, 91, 0.49);
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page {
    display: none;
}

.page:target {
    display: block;
}